<!--Course List-->
<div class="container">

    <div class="row">
        <table class="table table-hover" border="1">
            <tr style="background-color: #d7d7d7">
                <th>No</th>
                <th>Course</th>
                <th>Class room</th>
                <th>Schedule</th>
            </tr>
            <tr *ngFor="let c of courseList,let i=index ">
                <td>{{c.id}}</td>
                <td>{{ c.course_name }}</td>
                <td>{{ c.class_room }}</td>
                <td>{{ c.schedule }}</td>

            </tr>
        </table>
    </div>
</div>
<!--Add Course-->

<div class="col-md-12">
    <div class="container; col-md-offset-3" style="width: 50%; border: 2px solid #d7d7d7; border-radius: 5px; padding: 30px">
        <form class="form-horizontal">
            <h1 style="text-align: center"> Add Course </h1>
            <label class="">Course Name</label>
            <input type="text" name="course_name" [(ngModel)]="course_name" class="form-control">
            <label class="">Class Room</label>
            <input type="text" name="class_room" [(ngModel)]="class_room" class="form-control">
            <label class="">Schedule</label>
            <input type="text" name="schedule" [(ngModel)]="schedule" class="form-control"><br>
            <button type="button" class="btn btn-primary" (click)="add()">Add</button>


        </form>
    </div>
</div>